# Folders
# IDE
.idea
# Node.js
node_modules
# Folder
Quartz_query_client-darwin-x64-darwin-x64
# Build-Folder
api/build/client/scripts
api/build/client/css
api/build/db/csv
api/build/scripts
api/src/db/json
client/public/build
# Filetypes
*.js
*.css
*.js.map
# Files
.DS_Store
yarn.lock
# Exceptions
# Files
!jest.config.js
!babel.conig.js
!client/rollup.config.js
!client/public/global.css