# Folders
# IDE
.idea
# Node.js
node_modules
# Build-Folder
build/scripts
build/css
build/db/json
# Filetypes
*.js
# Files
yarn.lock
package-lock.json
# Exceptions
# Files
!jest.config.js
!babel.conig.js