# Folders
# IDE
.idea
# Node.js
node_modules
# Folder
Quartz_query_client-darwin-x64-darwin-x64
# Build-Folder
build/client/scripts
build/client/css
build/server/db
build/server/scripts
# Filetypes
*.js
# Files
yarn.lock
# Exceptions
# Files
!jest.config.js
!babel.conig.js