@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap')

$searchBarHeight: 10vh

*
  padding: 0
  margin: 0
  font-family: 'Roboto', sans-serif

li
  list-style-type: none
  padding: 1px
  color: gray

.displayElement
  border: solid 2px darkblue
  border-left-width: 5px
  background-color: rgba(0, 0, 255, 0.08)
  padding: 10px
  margin: 20px

#searchBar
  width: 100vw
  height: $searchBarHeight
  background-color: darkgray
  top: 0
  right: 0
  position: fixed
  z-index: 1

#wrapper
  padding-top: $searchBarHeight
  display: flex
  height: 95vh
  width: 100vw

#content
  height: 100vh
  width: 40vw
  top: 0
  right: 0
  background-color: lightblue
  position: fixed

#list
  height: 100vh
  width: 55vw